<p> Your music takes the focus. </p>

<button class="btn btn-primary js-display-tracks">
  See our tracks
</button>

<ul class="track-list">
  <li>
    <h3> Holy Diver </h3>
    <p> By Ronnie James Dio </p>
    <p> from Holy Diver </p>
    <img src="https://upload.wikimedia.org/wikipedia/en/7/72/Man%C3%A1_-_D%C3%B3nde_Jugar%C3%A1n_los_Ni%C3%B1os.jpg">
  </li>
</ul>

<ul class="track-list">
  <li>
    <h3> Holy Diver </h3>
    <p> By Ronnie James Dio </p>
    <p> from Holy Diver </p>
    <img src="https://upload.wikimedia.org/wikipedia/en/7/72/Man%C3%A1_-_D%C3%B3nde_Jugar%C3%A1n_los_Ni%C3%B1os.jpg">
  </li>
</ul>

<ul class="track-list">
  <li>
    <h3> Holy Diver </h3>
    <p> By Ronnie James Dio </p>
    <p> from Holy Diver </p>
    <img src="https://upload.wikimedia.org/wikipedia/en/7/72/Man%C3%A1_-_D%C3%B3nde_Jugar%C3%A1n_los_Ni%C3%B1os.jpg">
  </li>
</ul>
