/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

nav {
  background-color: #4abd58 !important;
}

body {
  background-color: rgba(158, 158, 158, 0.18);
}

#daily {
      font-size: 28px;
      margin: 9.46rem 0 1.168rem 0;
}

#monthly {
      font-size: 20px;
      margin: 9.46rem 0 1.168rem 0;
}

footer {
  background-color: #4abd58 !important;
}

footer.page-footer {
    margin-top: 400px;
    padding-top: 8px;
  }

#edetails {
    font-size: 28px;
}

#details {
    font-size: 15px;
}

#lcomment {
  font-size: 28px;
}

#ccomment {
  font-size: 28px;
}
