// Place all the styles related to the concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #d9ecfd;
}
ul { list-style: none; }
#concerts-today li {
  margin: 0 0 15px;
}
#concerts-today span {
  display: block;
  padding: 0 0 5px;
}
