
code {
	background: #2db34a;
	border-radius: 6px;
	color: #fff;
	display: block;
	padding: 24px 15px;
	text-align: center;
}

header,
section,
aside,
footer {
	margin: ...;
	border: 1px solid black;

}

section {
	position: absolute;
	bottom: 200px;
	right: 20px;
}

img {
		width: 300px;
		height: 300px;
		float: left;
}
.image-wrapper {
		overflow: auto;
		}
