
<h1>Xiomara Díaz</h1><br>

<h2>About me</h2>

<p> Nicaraguan social entrepreneur, 
co-founder of The Garden Cafe and 
UPNicaragua.  Web development student
at IronHack.</p>

<% if Date.today.tuesday? %>
<p>
Hate Tuedays!
</p>
<% else %>
<p> Glad today isn't a Tuesday! 
</p>
<% end %>
<p>
Izzy Ironside was born on 
<%= Time.now %>.
</p>
