

<html>
<header>
<h1>"Add a new task"</h1>
</header>
<body>
<form action="/create_task" method="POST">
	<input type="text"	name="new_task" placeholder="New Task">
	<button type="submit" name="new task" value="post"</button>
</form>
</body>
</html>