<html>
<head>
<link rel="stylesheet" type="text/css" href="movie.css">
<title>Movie Lovers</title>
</head>

<body>
<h1>Movie Lovers</h1>
<h3>Type a word</h3><br/>		
<form action="/search_results" Method="get">
<input type="text" name="user_word" placeholder= "your_word">
<button>Submit</button>
</form>
</body>
</html>



