<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>        
<link rel="stylesheet" type="text/css" href="movie.css">
<title>Movie Lovers</title>
</head>
<body>
<h1>Get your trivia on!</h1>
<h3>Which movie was released in <%=@random_year%>?</h3>
<% @nine_movies.each do |movie| %>

<form action="/check_result" method="post" style="float:left;">
<input type="hidden" name="random_year" value="<%= @random_year %>">
<input type="hidden" name="correct_year" value="<%= movie.year %>">
<button><img src="<%= movie.poster %>"></button>
 </form>
 <%end%>
</body>
</html>



