<html>
<head>
<link rel="stylesheet" type="text/css" href="movie.css">
<title>Movie Lovers</title>
</head>
<body>
<h1>Get your trivia on!</h1>
<h3>Which movie was released in 2001?</h3>
<% @movies_with_posters.each do |movie| %>
  <img src="<%= movie.poster %>">
 <%end%>
</body>
</html>



