#display
#list of posts

<html>
<head>
Xiomi's Blog
</head>
<header>
Welcome to Xiomi's Blog <br>
Dream | Express | Create
</header>
<h1>
</h1>
</html>



<% @posts.each do |post| %>
<%= post.title %>  							#post.title method needs a test
<% end %>