<h1> Projects </h1>
<ul>
  <% @projects.each do |project| %>
    <!-- <li> <%= project.name %></li> -->
    <li>
      <%= link_to project.name, project_path(project) %>
     <% if project.description != nil && project.description != "" %>
        <%= project.description %>
  <% end %>
</li>
<% end %>
</ul>
