<html>
<head>
<html>
<head>
<title>The BadAss Online Calculator</title>
</head>

<body>
<h1>"calculate"</h1>
<form action="/calculate" method="POST">
	<input type="number"  name="first_number" placeholder="1st number"> +
	<input type="number"  name="second_number" placeholder="2nd number">
	<button type="submit">Add</button>
	<button type="submit">Subtract</button>
	<button type="submit">Multiply</button>
	<button type="submit">Divide</button>
</form>

<!-- <h1>"Subtract"</h1>
<form action="/calculate_subtract" method="POST">
	<input type="number"  name="first_number" placeholder="1st number"> -
	<input type="number"  name="second_number" placeholder="2nd number">
	<button type="submit">Subtract</button>
</form>

<h1>"Multiply"</h1>
<form action="/calculate_multiply" method="POST">
	<input type="number"  name="first_number" placeholder="1st number"> *
	<input type="number"  name="second_number" placeholder="2nd number">
	<button type="submit">Multiply</button>
</form>

<h1>"Divide"</h1>
<form action="/calculate_divide" method="POST">
	<input type="number"  name="first_number" placeholder="1st number"> /
	<input type="number"  name="second_number" placeholder="2nd number">
	<button type="submit">Divide</button>
</form> -->
</html>